@media screen and (min-width: 410px){
        /*header partie recherche hebergement*/
        #search-accommodation {
            margin-bottom: 30px;;
        }
        #search-accommodation .search-bar{
            width: 350px;
        }
        #accommodation-List .seeMore{
            width: 90%;
            margin:auto;
        }
        .title-search-page {
            margin-bottom:0px;
        }
        .list-filters a {
            font-size: 0.8em;
        }
        .list-filters li{
            margin-bottom: 5px;
        }
        /*.buttons-filter{
            display: flex;
        }

        #search-filters h3{
            width: 10%;
            margin:auto;
        }*/
        #search-filters ul{
            width: 80%;
        }
        .info{
            margin-top: 30px;
        }

}

@media screen and (min-width: 600px){
    
    .registration{
        margin-right:30px;
    }
    #banner .logo-reservia{
        margin-left: 30px;
    }
    /*les plus populaires*/
    #popular{
        width: 90%;
        margin: auto;
        border-radius: 15px;
    }

    #popular .list{
        width: 100%;
    }
    
    .cardsPopular{
        width: 60%;
        margin: auto;
    }
    /*hebergement à Marseille et activites*/
    #accommodation-List .list, #activities-List .list {
        margin-bottom: 0;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #accommodation-List .list article, #activities-List .list article{
        width: 30%;
        margin:10px;
    }
    #accommodation-List .list .info-cards h4,i{
        font-size: 0.9em;
    }
    #activities-List .list .info-cards h4{
        font-size: 0.8em;
        margin:10px 5px;
    }
    #activities-List .img-cards{
        margin-bottom:0;
    }
    #accommodation-List .seeMore{
        text-align: center;
        margin-top: 20px;
        font-size: 0.8em;
    }
    /*footer*/
    #footerReservia .footerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding:0;
    }
    .aboutUs h4,li{
        font-size: 0.9em;
    }
}
@media screen and (min-width: 740px) and (max-width:900px){
     /*les plus populaires
     .cardsPopular{
        width: 100%;
        margin: auto;
    }*/
   
    /*#search-filters h3{
        width: 10%;
        margin:auto;
    }*/
    #search-filters ul{
        width: 100%;
    }
}
@media screen and (min-width: 901px){
    /*header*/
    header{
        width: 100%;
    }
    #banner{
        flex-wrap: nowrap;
        width: 90%;
        margin: auto;
    }
    #banner .registration{
        order:3;
        /*margin-top: 35px;*/
        width: 10%;
        margin-right: 10px;
        display: flex;


    }
    #banner .registration a{
        margin-left:25px ;
    }
    #banner .logo-reservia {
        margin-left: 0px;
        width:55% ;
        align-self: flex-start;
    }
    #banner .registration a{
        font-size: 0.8em;
    }
    #nav-inside{
        width: 35%;
    }
    #nav-inside ul{
        width: 50%;
    }

    #nav-inside a{
        border-bottom: none;
        border-top:3px var(--bg-gray) solid ;
        padding-top:20px;
        margin-right: 60px;
        font-size: 0.9em;
    }
    #nav-inside a:hover, #nav-inside a:active{
        border-top: 3px var(--blue) solid;
        border-bottom:none;
    }
    /*bouton de recherche*/
    
    .search-bar .search-button{
        display: none;
    }
    .search-bar p{
        display: inline;
        margin-top:1.5px;
    }
    #Marseille-search{
        width: 90%;
    }

    /*partie recherche hébergement*/
    #search-accommodation{
        margin-bottom:0;
    }
    #search-accommodation .title-search-page{
        text-align: start;
    }
    /*filtres*/
    #search-filters .list-filters a{
        padding:10px;
    }
    #search-filters ul{
        margin-left: 5px;
    }
    #search-filters .list-filters li{
        margin-right: 20px;
    }
    #search-filters{
        order:1;
        margin:0;
        width: 100%;
        
    }

    #search-filters .list{
        width: 100%;
       
    }
    #Marseille-search {
        justify-content: space-between;
    }
   #Marseille-search .list {
    width: 100%;
   }
    #search-filters .info{
        margin-top:10px;

    }
    #search-filters .buttons-filter{
        display: flex;
    }

    #search-filters .buttons-filter h3{
        width: 8%;
        align-items: center;
        display: flex;
    }
    #search-filters .buttons-filter ul {
        width: 92%;
    }

    /*sections*/
    #Marseille-search{
        width: 90%;
    }
    #popular{

        margin-top:0;
        margin-bottom:0;
        margin-right: 0;
        width: 35%;

    }
    #popular .list{
        margin-top:10px;
        margin-bottom:10px;
    }
   
    #Marseille-search .title-theme h3{
        font-size: 1em;

    }
    #accommodation-List{
        order:2;
        width: 60%;
        margin-right: 0px;
        background-color: var(--bg-gray);
        border-radius: 20px;
    }
    #accommodation-List .list{
        width: 100%;
    }
    #accommodation-List .list article{
        background-color: #FFFFFF;
        border-radius: 20px;
        width: 200px;
    }
    #accommodation-List .seeMore{
        display: flex;
        align-items: flex-start;
        width: 400px;
        margin-bottom:20px;
    }
    #popular{
        order:3;
        border-radius: 20px;
    }
    #activities-List{
        order:4;
    }
    .cardsPopular{
        width: 90%;
    }
    #Marseille-search{
        flex-direction: row;
        flex-wrap: wrap;
    }
    /*Activités à Marseille*/
   #activities-List{
       width: 100%;
       padding-bottom:0;
   }

   #activities-List .title-theme{
       width: 100%;
   }
    #activities-List h3{
        margin-bottom:0;
    }
    #activities-List .list{
        width: 100%;
        height: 500px;
        margin: auto;
        flex-direction: column;
        align-items:flex-start;
        flex-wrap: wrap;
   }
   #activities-List .list article{
       width: 20%;
   }
   #activities-List .big-article,  #activities-List .list .big-img{
    height: 360px;
   }
  #activities-List .list .small-img{
      height: 100px;   
  }
  #activities-List .list .medium-img{
      height: 150px;
  }
  #activities-List .list .Fort-de-Pomegues {
      margin-bottom: 49px;
  }
  #activities-List .list .Longchamp{
      margin-top:49px;
      margin-right: 0;
  }
  /*footer*/
  .aboutUs{
      margin-left: 60px;
      width: 30%;
  }
  .aboutUs:nth-child(3){
      margin-right: 100px;
  }
}
@media screen and (min-width: 1600px)



