@media screen and (min-width: 410px)/*mediaqueries mobile*/{
        /*header partie recherche hebergement*/
        #search-accommodation {
            margin-bottom: 30px;;
        }
        #search-accommodation .search-bar{
            width: 350px;
        }
        /*header : titres du site*/
        .title-search-page {
            margin-bottom:0px;
        }
        /*partie en savoir plus : hebergement à Marseille*/
        #accommodation-List .seeMore{
            width: 90%;
            margin:auto;
        }
        /*filtres de recherche*/
        .list-filters a {
            font-size: 0.8em;
        }
        #search-filters ul{
            width: 80%;
        }
        /*info i des recherches*/
        .info{
            margin-top: 30px;
        }
} 
@media screen and (min-width: 500px)/*mediaQueries mobile paysage et tablette portrait*/{  
    /*header: banniere et navigation interne*/
    .registration{
        margin-right:30px;
    }
    #banner .logo-reservia{
        margin-left: 30px;
    }
    /*section les plus populaires*/
    #popular{
        width: 90%;
        margin: auto;
        border-radius: 15px;
    }
    #popular .list{
        width: 100%;
    }
    .cardsPopular{
        width: 60%;
        margin: auto;
    }
    /*sections hebergement à Marseille et activites*/
    #accommodation-List .list, #activities-List .list {
        margin-bottom: 0;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #accommodation-List .img-cards, #activities-List .img-cards {
        margin:0;
        text-align: center;
    }
    #accommodation-List .img-cards img, #activities-List .img-cards img {
        width: 95%;
        margin-top:5px;    
    }
    #accommodation-List .info-cards, #activities-List .info-cards {
        width: 95%;
        margin:5px 0px 5px 20px;
    }
    #accommodation-List .list article, #activities-List .list article{
        width: 40%;   
    }
    #accommodation-List .list .info-cards h4,i{
        font-size: 0.9em;
    }
    #activities-List .list .info-cards h4{
        font-size: 0.7em;
        margin:10px 5px;
    }
    #activities-List .img-cards{
        margin-bottom:0;
    }
    #accommodation-List .seeMore{
        text-align: center;
        margin-top: 20px;
        font-size: 0.8em;
    }
    /*footer*/
    #footerReservia .footerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding:0;
    }
    .aboutUs h4,li{
        font-size: 0.9em;
    }
}
@media screen and (min-width: 740px) and (max-width:900px)/*mediaQueries tablette portrait*/{
    #search-filters ul{
        width: 100%;
    }
}
@media screen and (min-width: 901px) /*mediaQueries tablette paysage*/{
    /*header: bannière et navigation interne*/
    header{
        width: 100%;
    }
    #banner{
        flex-wrap: nowrap;
        width: 90%;
        margin: auto;
    }
    #banner .registration{
        order:3;
        /*margin-top: 35px;*/
        width: 10%;
        margin-right: 0px;
        display: flex;
    }
    #banner .registration a{
        margin-left:28px ;
    }
    #banner .logo-reservia {
        margin-left: 0px;
        width:60% ;
        align-self: flex-start;
    }
    #banner .registration a{
        font-size: 0.8em;
    }
    #nav-inside{
        width: 30%;
    }
    #nav-inside ul{
        width: 50%;
        margin-top:0;
    }
    #nav-inside a{
        border-bottom: none;
        border-top:2px #FFFFFF solid;
        padding-top:20px;
        margin-right: 60px;
        font-size: 0.9em;
    }
    #nav-inside a:hover, #nav-inside a:active{
        border-top: 2px var(--blue) solid;
        border-bottom:none;
    }
    #banner .registration{
        margin-top:21px;
    }
    /*bouton de recherche*/
    .search-bar{
        margin-bottom:0;
    }
    .search-bar .search-button{
        display: none;
    }
    .search-bar p{
        display: inline;
        margin-top:1.5px;
    }
    #Marseille-search{
        width: 90%;
    }
    /*section recherche hébergement*/
    #search-accommodation{
        margin-bottom:0;
    }
    #search-accommodation .title-search-page{
        text-align: start;
    }
    #search-accommodation .search-bar {
        width: 420px;
    }
    /*filtres de recherche*/
    #search-filters .list-filters a{
        padding:10px;
    }
    #search-filters ul{
        margin-left: 5px;
    }
    #search-filters .list-filters li{
        margin-right: 20px;
    }
    #search-filters{
        order:1;
        margin:0;
        width: 100%;  
    }
    #search-filters .info{
        margin-bottom:30px;
        margin-top:10px;
    }
    #search-filters .list{
        width: 100%;   
    }
    #search-filters .buttons-filter{
        display: flex;
    }
    #search-filters .buttons-filter h3{
        width: 8%;
        align-items: center;
        display: flex;
    }
    #search-filters .buttons-filter ul {
        width: 92%;
    }
    /*propriétés générales du MAIN*/
    #Marseille-search {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
    }
    #Marseille-search .list {
        width: 100%;
    }
    #Marseille-search .title-theme h3{
        font-size: 1em;
    }
    /*sections les plus populaires*/
    #popular{
        margin-top:0;
        margin-bottom:0;
        margin-right: 0;
        width: 35%;
        order:3;
        border-radius: 20px;
    }
    #popular .list{
        margin-top:10px;
        margin-bottom:10px;
    }
    #popular .list article{
        width: 90%;
        margin: 0px auto 20px;
    }
    .cardsPopular{
        width: 90%;
    }
    .title-theme-popular{
        margin:0 auto;
    }
    .title-theme-popular h3{
        width: 90%;
        margin:20px auto 10px;
    }
    .title-theme-popular i{
        margin-right: 0;
    }  
    /*section hébergement à Marseille*/
    #accommodation-List{
        order:2;
        width: 60%;
        margin-right: 0px;
        background-color: var(--bg-gray);
        border-radius: 20px;
    }
    #accommodation-List .list{
        width: 100%;
    }
    #accommodation-List .list article{
        background-color: #FFFFFF;
        border-radius: 20px;
        width: 45%;
    }
    #accommodation-List .seeMore{
        display: flex;
        align-items: flex-start;
        width:95% ;
        margin-bottom:20px;
    }
    #accommodation-List .title-theme{
        width: 95%;
    }  
    /*Activités à Marseille*/
    #activities-List .img-cards img, #activities-List .info-cards {
        width: 100%;
        margin-top:0px;   
    }
    #activities-List{
        order:4;
        width: 100%;
        padding-bottom:0;
        margin-top:30px;
    }
    #activities-List .title-theme{
       width: 100%;
    }
    #activities-List .list{
        width: 100%;
        height: 450px;
        margin: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        flex-wrap: wrap;    
    }
    #activities-List .list article{
        width: 23%;
        margin:0;
    }
    #activities-List .big-article,  #activities-List .list .big-img{
        height: 360px;
    }
    #activities-List .list .small-img{
        height: 100px;   
    }
    #activities-List .list .medium-img{
        height: 150px;
    }
    #activities-List .list .Fort-de-Pomegues {
        margin-bottom: 65px;
    }
    #activities-List .list .Longchamp{
        margin-top:65px;
        margin-right: 0;
    }
    /*footer*/
    #footerReservia .footerContainer{
        justify-content: space-between;
        width: 90%;
    }
    .aboutUs{
        margin-left:0;
        margin-right: 0;
        width: 30%;
    }
}
@media screen and (min-width: 1220px)/*mediaQueries desktop*/{
    /*section hebergement*/
    #accommodation-List{
        width: 60%;
        padding-top:20px;
    }
    #accommodation-List .list{
        justify-content: center;
    }
    #accommodation-List .list article{
        width: 30%;
        margin:7px;
    }
    #popular .list article,#popular .list a{
        height: 120px;
    }
    #popular .img-cards img{
        height: 113px;
    }
    #accommodation-List .seeMore{
        width: 95%;
        margin-top:25px;
    }
    /*section les plus populaires*/
    #popular{
        width:35% ;
    }
    #popular{
        padding-top:20px;
    }
    #popular .info-cards{
        padding-bottom: 10px;
    }
    /*section activites à Marseille*/
    #activities-List .notreDG img{
        object-position: top;
    }
}
@media screen and (min-width: 1300px) /*mediaQueries desktop et grands ecrans*/ {
    body{
        max-width: 1500px;
        margin:auto;
    }
    *{
        font-size: 1.1rem;
    }  
    /*HEADER bannière et navigation*/
    #banner .logo-reservia{
        width: 80%;
    }
    #nav-inside{
        margin-left: 150px;
        width: 20%;
    }
    /*filtres de recherche*/
    #search-filters .buttons-filter h3 {
        width: 6%;
    }
    #search-filters .buttons-filter ul {
        width: 94%;
    }
    #search-filters .list-filters a {
        padding: 12px;
    }
    .list-filters i
    {
        padding: 12px;
        right: 17px;
    }
    /*sections populaires et hebergements à Marseille*/
    #popular .list article, #popular .list a{
        height: 130px;
    }
    #popular .img-cards img{
        height: 120px;
    }
    #popular .list article{
        margin-bottom:30px;
    }
    #accommodation-List .seeMore{
        margin-top:35px;
    }
    #accommodation-List .info-cards h4+p{
        font-size: 0.9em;
    }
    #popular .info-cards h4+p{
        font-size: 0.9em;
    }   
}