/*variables*/
:root{
    --blue:#0065FC;
    --light-blue:#DEEBFF;
    --bg-gray:#F2F2F2;
    --font-color:#000000;
    --bg-gray-dark:#d9d9d9;
}
/*propriétés générales*/
*{
    
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    max-width: 600px; 
}
/************************************HEADER**************************************/
/*bannière du site*/
#banner{
    width: 100%;
}
#banner .home-registration{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;  
}
.registration{
    margin-top:40px;
}
.registration a{
    font-weight: bold;
    color: var(--blue);
}
/*header:liens navigation interne*/
#nav-inside ul { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0;
}
#nav-inside li{
    width: 100%;
    margin-bottom: 10px;    
}
/*effet de survol les liens de la navigation interne*/
#nav-inside a{
    color: var(--font-color);
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 3px var(--bg-gray) solid;
    padding-bottom: 15px;;
}
#nav-inside a:hover{
    color: var(--blue);
    font-weight: bold;
    border-bottom: 3px var(--blue) solid;    
}
/*#nav-inside a:visited{
    color: var(--blue);     
}*/
#nav-inside a:active {
    color: var(--blue);
    font-weight: bold;  
}
/*partie titre et paragraphe de la recherche géolocalisée*/
#search-map {
    margin:auto;
    width: 90%;    
}
#search-map h2 {
    font-size: 1.7;
}
.title-search-page{
    margin-bottom: 40px;
}
/*partie barre de recherche*/   /*RESTE A METTRE EN PLACE LES ICONES*/
.search-bar{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.search-bar input{
    height: 45px;
    width: 100%;
    padding-left: 20px;
    font-weight: bold;
    border: 0.8px var(--bg-gray) solid;
}
.search-bar .search-button,.fa-map-marker-alt {
    font-size: 1.2em;
}
.search-bar .search-button{
    text-decoration: none;
    border: none;
    font-size: 1.2em;
    background-color: var(--blue);
    border-radius: 35%;
    position:relative;
    right: 10px;
    bottom: 2px;
    /*height: 50px;*/
    padding:12px;   
}
.search-bar .fa-map-marker-alt {
    font-size: 1.4em;
    background-color:var(--bg-gray);
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    padding:10px 20px;
    position: relative;
    height: 25px;
    left: 5px;   
}
#city-search::placeholder{   
    color:var(--font-color);
}
.search-bar .fa-search{
    color: #FFFFFF;
}
/*******************************************MAIN**************************************/
/**organisation de l'ordre d'affichage des différents themes***/
#search-filters{
    order:1;
}
#accommodation-List{
    order:3;
}
#popular{
    order:2;
}
#activities-List{
    order:4;
}
/*propriétés générales du contenu MAIN*/
#Marseille-search {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction:column;
}
/*Filtres*/
#search-filters{
    width: 90%;
    margin: auto;    
}
#search-filters h3{
  font-weight: bold;
  width: 100%;
}
/*liste des filtres*/
#search-filters ul{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.list-filters li{
    margin-bottom: 20px;
    margin-right: 8px; 
}
.list-filters a{
    border:3px var(--bg-gray-dark) solid;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: var(--bg-gray);
    padding: 12px;
    color: var(--font-color);
    font-weight: bold; 
}
.list-filters i{
    border:1px var(--light-blue) solid;
    background-color: var(--light-blue);
    color: var(--blue);
    border-radius: 50%;
    font-size: 1.5em;
    padding:12px;
    position: relative;
    top: 3px;
    right: 12px;   
}
.list-filters i.fa-child {
    width: 20px;
    padding-left: 12px;
}
/*effets au survole sur les listes*/
.list-filters a:hover{
    background-color: var(--blue);
    color: var(--light-blue);
}
.list-filters a:active{
    background-color:var(--light-blue);
    color: var(--blue);   
}

/*partie info i */
.info{
    font-weight:lighter;
    font-size: 0.9em;  
}

.info i{
    border:1px var(--bg-gray) solid;
    border-radius: 50%;
    width: 16px;
    height: 22px;
    padding-left: 10px;
    padding-top: 2px;
    color: var(--blue);
}
/*******Section Les plus populaires*********/
#popular{
    background-color: var(--bg-gray);
}

.popular-list article{
    border:1px black solid;
    border-top-left-radius:10% ;
    border-bottom-left-radius:10% ;
    border-top-right-radius: 10%;
    border-bottom-right-radius:10% ;
    width: 90%;
    height:130px ;
    max-width: 600px;
    margin: 20px auto;
    overflow: auto;
}

.cards{
    display: flex;
    flex-direction: row;
    border-top-left-radius:10% ;
    border-bottom-left-radius:10% ;
    border-top-right-radius: 10%;
    border-bottom-right-radius:10%;
    width: 100%;
}

.img-cards{
    width: 40%;


    
}

.img-cards img{
    width: 100%;

    
}

.info-cards {
    width: 60%;
    margin-left: 20px;

}
.infos-cards div{
    width: 100%;
    
}













