/*variables*/
:root{
    --blue:#0065FC;
    --light-blue:#DEEBFF;
    --bg-gray:#F2F2F2;
    --font-color:#000000;
    --border-bottom:
}
/*propriétés générales*/
*{
    
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    max-width: 600px; 
}
/************************************HEADER**************************************/
/*bannière du site*/
#banner .home-registration{
    display: flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right: 10px;  
}
.registration{
    margin-top:40px;
}
.registration a{
    font-weight: bold;
    color: var(--blue);
}
/*header:liens navigation interne*/
#nav-inside ul { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}
#nav-inside ul li{
    margin-bottom: 10px;
    border-bottom: 3px var(--bg-gray) solid;  
    width:50%;
    padding-bottom: 10px;
    padding-left: 30px;
}
/*effet de survol les liens de la navigation interne*/
#nav-inside ul li:hover{
    border-bottom: 3px var(--blue) solid;
    width: 50%;
}

#nav-inside a{
    color: var(--font-color);
}
#nav-inside a:hover{
    color: var(--blue);
    font-weight: bold;    
}
#nav-inside a:link{
    color: var(--font-color);
}
#nav-inside a:visited{
    color: var(--blue);     
}
#nav-inside a:active {
    color: var(--blue);
    font-weight: bold;  
}
/*partie titre et paragraphe de la recherche géolocalisée*/
#search-map {
    margin:auto;
    width: 90%;    
}

#search-map h2 {
    font-size: 1.7;
}
#search-map .search-bar {
    text-align: center;
}
/*partie barre de recherche*/
#city-search {
    height: 34px;
    padding-left: 20px;
    border-color: var(--bg-gray);
    border:2px var(--bg-gray) solid;
    font-weight: bold;     
}
#city-search::placeholder{   
    color:var(--font-color);
}
.search-bar .fa-search{
    color: #FFFFFF;
}
.search-bar .search-button {
    background-color: var(--blue);
    border-radius: 35%;
    height: 36px;
    position: relative;
    right: 30px;
    text-decoration: none;
}
.search-bar .fa-map-marker-alt {
    background-color:var(--bg-gray);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    position: relative;
    left: 18px;
    width: 30px;
    height: 26px;
    padding-top: 9px;
}
/*******************************************MAIN**************************************/
/**mise en page des différents themes***/
#search-filters{
    order:1;
}
#accommodation-List{
    order:3;
}
#popular{
    order:2;
}
#activities-List{
    order:4;
}

#Marseille-search {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction:column;
}

/*Filtres*/
#search-filters{
    margin-top: 10px;
    
}
#search-filters h3{
    margin-left: 30px;
}
/*liste des filtres*/
#search-filters ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;       
}

.list-filters li{
    margin-bottom: 20px; 
}

.list-filters a{
    border:1px black solid;
    width: auto;
    height: 20px;
    height: 50px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: var(--bg-gray);
    padding:10px 10px 10px 0px;
    color: var(--font-color);
    font-weight: bold;
    scale: 1;    
}
.list-filters i{
    margin-right: 20px;
    border:1px var(--light-blue) solid;
    background-color: var(--light-blue);
    color: var(--blue);
    border-radius: 50%;
    font-size: 1.5em;
    padding:8px;
    position: relative;
    top: 3px;   
}
/*effets au survole sur les listes*/

.list-filters a:hover{
    background-color: var(--blue);
    color: var(--light-blue);
}

.list-filters a:active{
    background-color:var(--light-blue);
    color: var(--blue);   
}
/*******Section Les plus populaires*********/











